
<body>
  <div class="wrapper fadeInDown mt-5">
    <div id="formContent">
      <div class="fadeIn first">
       
      </div>
      <div class="mmmm"><img src="../assets/person.png" alt=""></div>

      <form id="form-autenticacion">
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="Nombre de usuario">

        <input type="password" id="password" class="fadeIn third" name="password"placeholder="password">

        <input type="submit" [routerLink]="['/inicio']" class="mt-3 fadeIn fourth" value="Entrar">

      </form>

      <div id="formFooter">
        <a class="mt-1 underlineHover" data-toggle="modal" data-target="#agregando">Register</a>
      </div>

    </div>
    
  </div>
</body>

<div class="modal fade" id="agregando" tabindex="-1" aria-labelledby="agregandoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Agregando Usuarios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        

              <input type="text" id="NombreOtitulo" class="form-control" name="NombreOtitulo" placeholder="Usuario">
      
              <input type="text" id="pasword" class="form-control" name="password" placeholder="Contraseña"> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
