<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <div class="wrapper fadeInDown mt-5">
    <div id="formContent">
      <div class="fadeIn first">
       
      </div>
      <div class="mmmm"><img src="../assets/person.png" alt=""></div>

      <form id="form-autenticacion">
        <input type="text" id="Nombre" class="fadeIn second" name="login" placeholder="Nombre de usuario">

        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">

        <input type="submit" [routerLink]="['/inicio']" class="mt-3 fadeIn fourth" value="Entrar">
        <!--<input type="submit"   class="mt-1 fadeIn fourth" value="Iniciar Sesion con Google">-->

      </form>

      <div id="formFooter">
        <a class="mt-1 underlineHover" href="#">Register</a>
      </div>

    </div>
    
  </div>
</body>

</html>